body{
  background-color:black;
  color:white;
}
.Mainbody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 500px;
  margin:5% auto;
  font-size: 3em;
}

 p{
  text-align: center;
font-size: .5em;
border: 1px solid white;
padding: .5em 0.5em;
}
.row{
  display:flex;
  justify-content: center;
  gap:1em;
}
.vr{
  width: 2em;
  height: .03em;
  background-color: #fff;
  border-radius: 20px;
}
.column{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main{
  padding:.5em;
  border-left:1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-radius: 20px;
}
@media screen and (max-width:400px) {
  .vr{
width:1em;
  }
  .row{
    gap:.2em;
  }
}